:root {
    /* Global Color */
    --primary-color: #111111; /* Lembutkan hitam */
    --secondary-color: #f0f0f0; /* Lembutkan putih */
    --accent-color: #6366F1;
    --text-color: #333;
    --bg-color: #f8f9fa;
    --scroll-bg-color: rgba(240, 240, 240, 0.8); /* Sesuaikan dengan warna lembut */
    
    /* Global size */
    --container-padding: 80px;
    --btn-padding: 11px 32px;
    --border-radius: 200px;

    /* Animation */
    --transition-speed: 0.7s;
}
html {
    scroll-behavior: smooth;
}

/* Dark Mode */
body.dark-mode {
    --primary-color: #f0f0f0; /* Lembutkan putih di dark mode */
    --secondary-color: #1a1a1a; /* Lembutkan hitam */
    --accent-color: #6366F1;
    --text-color: #c6c6c6;
    --bg-color: #121212;
    --scroll-bg-color: rgba(26, 26, 26, 0.8); /* Sesuaikan dengan warna dark mode */
}

/* Scrollbar styling */
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background-color: var(--scroll-bg-color);
}

::-webkit-scrollbar-thumb {
    background-color: var(--primary-color);
    border-radius: 10px;
    border: 3px solid var(--bg-color);
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--accent-color);
}

* {
    scrollbar-width: thin;
    scrollbar-color: var(--accent-color) var(--scroll-bg-color);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Urbanist', sans-serif;
}

a {
    color: var(--primary-color);
    transition: color var(--transition-speed);
}

a.underline {
    text-decoration: underline;
    color: var(--accent-color);
}
a.underline:hover {
    color: var(--text-color);
}
a:hover {
    color: var(--accent-color);
}

/* Full-screen loader container */
#loader {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: var(--bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}


/* Loading icon style */
.loading-icon {
    width: 40px;
    height: 40px;
    background-image: url('../assets/logo.webp'); 
    background-size: cover;
    animation: spin 3s linear infinite; 
}


/* Keyframes for spinning effect */
@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

body {
    color: var(--text-color);
    background-color: var(--bg-color);
    line-height: 1.6;
    transition: background-color var(--transition-speed);
}

.container {
    margin: 0 auto;
    padding: 0 var(--container-padding);
    max-width: 100%;
}

.container.side {
    padding: 0px 0px 0px var(--container-padding);
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.d-flex {
    display: flex;
    gap: 1rem;
}

.d-block {
    display: block;
}

.between {
    justify-content: space-between;
}

.center {
    text-align: center;
    align-items: center;
}
.center-nt {
    align-items: center;
}

.mx {
    padding: 0px 100px;
}

.gap {
    gap: 1rem;
}

.mb {
    margin-bottom: 1rem;
}

.mb-2 {
    margin-bottom: 4rem;
}

.breadcrumbs {
    color: var(--text-color);
    font-size: 14px;
    margin-bottom: 0px;
    display: flex;
    align-items: center;
    justify-items: center;
    margin-bottom: 1rem;
    gap: 5px;
}

.card.card-review {
    padding: 16px 12px;
}


/* Grid system */
.col-12 { width: 100%; }
.col-11 { width: 91.66666667%; }
.col-10 { width: 83.33333333%; }
.col-9 { width: 75%; }
.col-8 { width: 66.66666667%; }
.col-7 { width: 58.33333333%; }
.col-6 { width: 50%; padding: .5rem; }
.col-5 { width: 41.66666667%; }
.col-4 { width: 33.33333333%; padding: .5rem; }
.col-3 { width: 25%; padding: .5rem; }
.col-2 { width: 16.66666667%; }
.col-1 { width: 8.33333333%; }

.card {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.card.subs {
    transition: border 0.3s ease;
}

.card.subs:hover,
.card.subs.active {
    border: 1px solid var(--accent-color);
}


/* Input Styles */
label {
    font-size: 14px;
}
.input-style {
    width: 100%;
    padding: 12px;
    border: 1px solid var(--primary-color);
    border-radius: var(--border-radius);
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    background: transparent;
    color: var(--text-color);
}
textarea {
    height: 300px;
    width: 100%;
    padding: 12px;
    border: 1px solid var(--primary-color);
    border-radius: 15px;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    background: transparent;
    color: var(--text-color);
    resize: none;
}
textarea:focus, 
.input-style:focus {
    border-color: var(--primary-color);
    outline: none;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
}

section.auth {
    margin-top: 100px;
}

.progress-bar {
    width: 100%;
    height: 6px;
    border: 1px solid var(--primary-color);
    background-color: var(--bg-color);
    border-radius: 5px;
}
.bar {
    height: 5px;
    background-color: var(--accent-color);
    border-radius: 5px;
}
.bar.bar-40{
    width: 40%;
}
.bar.bar-100{
    width: 100%;
}
.bar.bar-6{
    width: 6%;
}
.bar.bar-19{
    width: 19%;
}
.bar.bar-0{
    width: 0%;
}

/* Button styles */
.btn {
    padding: var(--btn-padding);
    border-radius: var(--border-radius);
    cursor: pointer;
    position: relative;
    overflow: hidden;
    border: 1px solid var(--primary-color);
    transition: background-color 0.3s ease, color 0.3s ease, border 0.3s ease, box-shadow 0.3s ease;

    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis;
}

.p {
    padding: 10px;
}

/* Pseudo-element for hover animation */
.btn::before {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transition: right 0.3s ease-in-out;
    z-index: -1;
}
.btn-w {
    width: 100%;
}
.btn-bk {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}
.hr-with-text {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.hr-with-text hr {
    border: none;
    border-top: 1px solid var(--primary-color); 
    flex-grow: 1;
    height: 1px;
}

.hr-with-text p {
    margin: 0;
    padding: 0 10px; 
    color: var(--primary-color); 
}

hr {
    margin: 1rem 0rem;
}

/* Styles for btn-a */
.btn-a {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border: 1px solid var(--primary-color);
}


/* Hover effect for btn-a */
.btn-a::before {
    background: var(--primary-color); 
    right: -100%; 
}

.btn-a:hover::before {
    right: 0; 
}

.btn-a:hover {
    color: var(--bg-color); 
    background: none; 
}


/* Styles for btn-b */
.btn-b {
    background-color: var(--bg-color);
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
}


/* Hover effect for btn-b */
.btn-b::before {
    background: var(--primary-color); 
}

.btn-b:hover::before {
    right: -100%; 
}

.btn-b:hover {
    color: var(--primary-color); 
    background: none; 
}

/* Styles for btn-rounded */
.btn-rounded {
    background-color: var(--bg-color);
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    border-radius: 50%;
    padding: 12px;
}

/* Hover effect for btn-rounded */
.btn-rounded::before {
    background: var(--primary-color); 
}

.btn-rounded:hover::before {
    right: -100%; 
}

.btn-rounded:hover {
    color: var(--primary-color); 
    background: none; 
}


/* Styles for btn-c */
.btn-c {
    background: none;
    color: var(--bg-color);
    border: 1px solid var(--bg-color);
}



li#btn{
    display: none;
}


/* Nav styles */
nav {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    transition: background-color 0.3s ease-in-out;
}

#navbar {
    background-color: transparent;
    color: var(--primary-color);
    padding: 10px 0px;
}

#navbar.scroll {
    background-color: var(--scroll-bg-color);
    color: var(--secondary-color);
    backdrop-filter: blur(2px); 
    -webkit-backdrop-filter: blur(2px); 
}

nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .nav-links {
    display: flex;
    gap: 2rem;
}

nav a {
    color: var(--primary-color);
    text-decoration: none;
}
nav.scroll a.active,
nav a.active {
    color: var(--accent-color);
}

nav.scroll a {
    color: var(--primary-color);
}

/* Styling hamburger for transition */
.hamburger {
    display: none;
    flex-direction: column;
    gap: 5px;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 101;
}

.hamburger .bar {
    width: 25px;
    height: 3px;
    background-color: var(--primary-color);
    transition: all 0.3s ease-in-out;
}

/* Transform hamburger to X when active */
.hamburger.active .bar:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
}

.hamburger.active .bar:nth-child(2) {
    opacity: 0; 
}

.hamburger.active .bar:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -6.5px);
}


nav.scroll .hamburger .bar {
    background-color: var(--primary-color);
}

.modal {
    display: none;
    position: fixed;
    z-index: 1050;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.modal-dialog {
    background-color: var(--bg-color);
    border-radius: 15px;
    max-width: 500px;
    width: 100%;
    margin: auto 20px;
}

.modal-content {
    position: relative;
    background-color: var(--bg-color);
    border-radius: 15px;
    padding: 20px;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--primary-color);
}

.modal-body {
    padding: 15px 0px;
}

.modal-footer {
    padding-top: 10px;
    border-top: 1px solid var(--primary-color);
    text-align: right;
}

.close {
    background: none;
    border: none;
    font-size: 1.5rem;
    line-height: 1;
    cursor: pointer;
}
.me {
    margin-right: 1.5rem;
} 

/* Font styles */
h1.title {
    color: var(--primary-color);
    font-size: 45px;
    font-weight: 600;
    line-height: 60px;
    margin-bottom: 1rem;
}
h2,h3,h4,h5,h6 { 
    color: var(--primary-color);
}

.title-nc {
    color: #f0f0f0;
    font-size: 45px;
    font-weight: 600;
    line-height: 60px;
    margin-bottom: 1rem;
}

p.desc {
    color: var(--text-color);
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 1rem;
}
p.desc.nm{
    margin-bottom: 0px;
}

/* Section styles */
section {
    margin-bottom: 80px;
}

section.home {
    overflow-x: hidden;
    padding: 100px 0px 40px 0px;
}
section.detail-course {
    margin-top: 80px;
    overflow: hidden;
}
section.profiles {
    margin-top: 100px;
    overflow: hidden;
}

section.partner {
    overflow-x: hidden;
    padding: 15px 0px;
    background-color: #f8f9fa;
}
.course-container {
    position: relative;
    overflow: hidden;
    max-height: 450px;
}
.event-container {
    position: relative;
    overflow: hidden;
    max-height: 450px;
}
    
.img-banner {
    width: 100%;
    height: 100%;
    max-width: 635px;
    content: url('../assets/homepage-banner-2-w.webp'); 
}

body.dark-mode .img-banner {
    content: url('../assets/homepage-banner-2.webp'); 
}

.img-banner-course {
    width: 100%;
    height: 100%;
    max-width: 480px;
    content: url('../assets/course-w.webp'); 
}

body.dark-mode .img-banner-course {
    content: url('../assets/course.webp'); 
}

.img-banner-mentorship {
    width: 100%;
    height: 100%;
    max-width: 480px;
    content: url('../assets/mentorship-w.webp'); 
}

body.dark-mode .img-banner-mentorship {
    content: url('../assets/mentorship.webp'); 
}

.img-banner-event {
    width: 100%;
    height: 100%;
    max-width: 480px;
    content: url('../assets/event.webp'); 
}

body.dark-mode .img-banner-event {
    content: url('../assets/event-b.webp'); 
}

.img-banner-challenge {
    width: 100%;
    height: 100%;
    max-width: 480px;
    content: url('../assets/challenge-w.webp'); 
}

body.dark-mode .img-banner-challenge {
    content: url('../assets/challenge.webp'); 
}

.img-auth {
    width: 100%;
    height: 100%;
    max-width: 635px;
    content: url('../assets/auth.webp'); 
}

body.dark-mode .img-auth {
    content: url('../assets/auth-b.webp'); 
}

/* Swiper styles */
section.partner .swiper-container {
    width: 100%;
    height: 65px;
}

section.partner .swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-img-program {
    background-image: url('../assets/hiasan-2.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 0px 0px 9px 9px;
    padding: 10px;
}
body.dark-mode .box-img-program {
    background-image: url('../assets/hiasan-2-b.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 0px 0px 9px 9px;
    padding: 10px;
}

section.partner .swiper-slide img {
    width: 100%;
    max-width: 150px;
}

.profile{
    border-radius: 50%;
    width: 40px;
}

.sticky-col {
    position: -webkit-sticky;
    position: sticky;
    top: 20px; 
    align-self: start;
}

.tag-slide {
    overflow-x: auto; 
    scrollbar-width: none; 
    -ms-overflow-style: none; 
    display: flex;
    gap: 10px;
    white-space: nowrap; 
    padding-bottom: 10px; 
}
.tag-container {
    width: 100%;
    height: 80px;
    overflow: hidden;
}

.tag {
    padding: 4px 14px;
    border-radius: 50px;
    background-color: transparent;
    border: 1px solid var(--accent-color);
    color: var(--primary-color);
    font-size: 12px;
    display: inline-block;
    max-width: 100%; 
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis; 
}

.box-tag {
    display: flex;
    justify-content: center; 
    align-items: center; 
    width: 100%; 
}

.tag.tag-b {
    width: 100%;
    padding: 6px 16px; 
    font-size: 16px; 
    font-weight: 500;
    text-align: center; 
}

.vr {
    border-left: 1px solid var(--text-color);
    height: auto; 
    align-self: stretch; 
}
.rating i {
    color: var(--accent-color);
}
.card.course .student,
.card.course .hour,
.card.course .modul {
    font-size: 16px;
    color: var(--primary-color);
}
.box-wrap-subs {
    height: 80px;
    overflow: hidden;
}
.box-wrap {
    height: 180px;
    overflow: hidden;
    margin-bottom: 40px;
}
.img-fit {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.box-img-course {
    background-image: url('../assets/hiasan.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 9px 9px 0px 0px;
    padding: 10px;
}
body.dark-mode .box-img-course {
    background-image: url('../assets/hiasan-w.webp');
}
.card .img-course {
    width: 100%;
    border-radius: 9px 9px 0px 0px;
}

.img-cc-detail {
    width: 50%;
    border-radius: 15px;
    position: relative;
    transition: top 0.3s ease;
}


.card {
    border: 1px solid var(--text-color);
    border-radius: 16px;
    overflow: hidden;
}
.cardp{
    padding: 16px 12px;
    overflow: hidden;
}
.cardpp{
    padding: 10px;
    overflow: hidden;
}
.card .img-program {
    width: 100%;
    border-radius: 9px;
}
.course-img {
    width: 100%;
}
.box-recourse-img {
    overflow: hidden;
    max-height: 75px;
    width: 150px;
    border-radius: 9px;
}
.recourse-img {
    width: 100%;
}

section.why img {
    margin-top: 50px;
    width: 100%;
    height: 100%;
}
.row.start{
    align-items: start !important;
}
section.event .row.start .col-7,
section.why .row.start .col-7 {
    order: 1;
}
section.event .row.start .col-5,
section.why .row.start .col-5 {
    order: 2;
}

.star {
    cursor: pointer;
    transition: color 0.2s;
}

.star:hover,
.star:hover ~ .star {
    color: var(--text-color);
}

.star.selected {
    color: var(--text-color);
}

.faq-container {
    width: 100%;
    min-height: 240px;
    margin: 20px 0;
    overflow: hidden;
}
.modul-container {
    width: 100%;
    min-height: 300px;
    margin: 20px 0;
    overflow: hidden;
}

.box {
    padding: 16px 12px;
    border: 1px solid var(--text-color);
    border-radius: 16px;
    margin-bottom: 10px;
    background-size: 200px;
    background-repeat: no-repeat;
    background-position: right;
    cursor: pointer;
    overflow: hidden; 
    transition: all 0.4s ease-in-out;
    position: relative; 
}
body.dark-mode .box {
    padding: 16px 12px;
    border: 1px solid var(--text-color);
    border-radius: 16px;
    margin-bottom: 10px;
    background-size: 200px;
    background-repeat: no-repeat;
    background-position: right;
    cursor: pointer;
    overflow: hidden; 
    transition: all 0.4s ease-in-out;
    position: relative; 
}
body.dark-mode .box.active {
    background: none; 
}
.box.active {
    background: none; 
}

.box.modul.active {
    border: 1px solid var(--accent-color);
}

.box.modul::before {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transition: right 0.6s ease-in-out;
    z-index: -1;
}
.box.modul {
    background: none;
}
.box.modul::before {
    background: var(--accent-color); 
    right: -100%;
}
.box.modul:hover::before {
    right: 100%;
}
/* .box.modul:hover h5.modul-title */
/* .box.modul:hover p.modul-desc {
    color: var(--bg-color);
} */
.box.modul:hover {
    /* background: none; */
    border: 1px solid var(--accent-color);
}

.box-mentor-img,
.box-challenge-img,
.box-event-img {
    overflow: hidden;
    border-radius: 10px;
    margin-bottom: .5rem;
}
.mentor-img,
.challenge-img,
.event-img {
    width: 100%;
}
.video-container {
    margin-bottom: 1rem;
}
iframe {
    width: 100%;
    border: none; 
    margin: 0;    
    padding: 0;   
}

.learn-desc {
    font-size: 16px;
    margin-bottom: 1rem;
}

iframe.carbon {
    margin-bottom: 1rem;
}

.faq-question,
.modul-title{
    font-size: 18px;
    font-weight: bold;
    margin: 0;
}
.modul-title-2{
    font-size: 15px;
}
.blur {
    position: absolute;
    width: 500px;
}

.blur:nth-child(1) {
    top: 100px;
    left: 50px;
}

.blur:nth-child(2) {
    top: 500px;
    right: 200px;
}

.blur:nth-child(3) {
    top: 1000px;
    left: 50px;
}

.blur:nth-child(4) {
    top: 1500px;
    right: 200px;
}

/* Sidebar Styles */
.sidebar-container {
    position: relative;
    height: 100%;
}

.sidebar {
    border: 1px solid var(--primary-color);
    border-radius: 15px;
    padding: 20px;
    background-color: transparent;
    height: auto;
    max-height: 500px;
    overflow-y: auto;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    margin-bottom: 15px;
}

.sidebar ul li a {
    text-decoration: none;
    color: var(--text-color);
    font-weight: 500;
    font-size: 16px;
    display: block;
    padding: 10px 15px;
    border-radius: 10px;
    transition: background-color 0.3s, color 0.3s;
}

.sidebar ul li a.active,
.sidebar ul li a:hover {
    background-color: var(--accent-color);
    color: #fff;
}

/* Hamburger for Sidebar */
.hamburger-sidebar {
    display: none;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
    z-index: 2;
    position: fixed;
    top: 80px;
    left: 25px;
    background-color: var(--bg-color);
    border-radius: 50%;
    border: none;
    padding: 12px 10px;
}

.hamburger-sidebar .bar-sidebar {
    width: 25px;
    height: 3px;
    background-color: var(--primary-color);
    transition: all 0.3s ease-in-out;
    border-radius: 5px;
}

/* Show sidebar on hamburger click */
.hamburger-sidebar.active .bar-sidebar:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
}

.hamburger-sidebar.active .bar-sidebar:nth-child(2) {
    opacity: 0;
}

.hamburger-sidebar.active .bar-sidebar:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -6.5px);
}

.sidebar.active {
    left: 0; 
}
/* Sidebar Overlay */
.sidebar-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none; 
    z-index: 1; 
}

.box-upload-image-custom {
    overflow: hidden;
    width: 150px;
    height: 150px;
    border-radius: 15px;
    position: relative;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.w-full {
    width: 100%;
    justify-content: center;
}
.upload-image-custom {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}

.upload-icon {
    position: absolute;
    font-size: 2rem;
    color: rgba(255, 255, 255, 0.8);
    display: none; 
    transition: color 0.3s;
}

.box-upload-image-custom:hover .upload-icon {
    display: block;
}

.box-upload-image-custom:hover {
    opacity: 0.8;
}


.faq-answer,
.modul-desc {
    max-height: 0; 
    overflow: hidden;
    transition: max-height 0.4s ease-in-out, padding 0.4s ease-in-out; 
    padding-top: 0;
    margin: 0;
    color: var(--text-color);
    font-size: 14px;
    font-weight: 400;
}

.why .box-img {
    background: url('../assets/faq.webp'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 385px;
    margin-left: 50px;
}

.path-container {
    overflow: hidden;
}
.review-container {
    overflow: hidden;
    max-height: 290px;
    position: relative;
}
section.reviews {
    overflow: hidden;
}
body.dark-mode .why .box-img {
    background: url('../assets/faq-b.webp'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 385px;
    margin-left: 50px;
}

.path .box-img {
    background: url('../assets/path.webp'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 400px;
    margin-left: -50px;
    margin-top: 50px;
}

.path-box img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
}
.path-box {
    padding: 10px;
}

body.dark-mode .path .box-img {
    background: url('../assets/path-b.webp'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 400px;
    margin-left: -50px;
    margin-top: 50px;
}

.hidden {
    display: none;
}

.box.active .faq-answer,
.box.active .modul-desc {
    max-height: 200px; 
}

section.banner {
    background: url('../assets/framef.webp') center center no-repeat;
    /* background-color: var(--accent-color); */
    padding: 80px;
}

.event .box-img {
    background: url('../assets/event.webp'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 400px;
    margin-left: 50px;
    margin-top: 50px;
}
body.dark-mode .event .box-img {
    background: url('../assets/event-b.webp'); 
    /* Untuk dark mode */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 400px;
    margin-left: 50px;
    margin-top: 50px;
}

footer {
    margin: 0px 0px 10px 0px;
}

.text-clamp-1 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1; 
    overflow: hidden;
    text-overflow: ellipsis; 
}
.text-clamp {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2; 
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 8px; 
}
.d-lg-none {
    display: none;
}

@media (max-width: 688px) { 
    .container {
        padding: 0 20px;
    }
    .container.side {
        padding: 0px 20px;
    }
    .sidebar {
        background-color: var(--bg-color);
        left: -250px;
        position: fixed;
        top: 0;
        width: 250px;
        height: 100%;
        transition: all 0.3s ease-in-out;
        z-index: 1;
        margin-top: 56px; 
        border: none;
        border-radius: 0px;
        padding: 70px 15px 15px 15px;
        overflow-y: auto;
        max-height: none;
    }

    .hamburger-sidebar {
        display: flex;
    }
    section.home.course {
        margin-top: 100px;
    }
    section.detail-course {
        margin-top: 80px;
    }
    .blur {
        display: none;
    }

    .row {
        flex-direction: column;
    }

    .row-flex {
        flex-direction: row !important;
    }

    .mx {
        padding: 0px;
    }    

    .sm-start {
        text-align: start;
    }

    .col-sm-12 { width: 100%; }
    .col-sm-11 { width: 91.66666667%; }
    .col-sm-10 { width: 83.33333333%; }
    .col-sm-9 { width: 75%; }
    .col-sm-8 { width: 66.66666667%; }
    .col-sm-7 { width: 58.33333333%; }
    .col-sm-6 { width: 50%; }
    .col-sm-5 { width: 41.66666667%; }
    .col-sm-4 { width: 33.33333333%; }
    .col-sm-3 { width: 25%; }
    .col-sm-2 { width: 16.66666667%; }
    .col-sm-1 { width: 8.33333333%; }
    .col-sm-0 { display:none; }
    .nav-links {
        flex-direction: column;
        position: absolute;
        top: 90%;
        left: 0;
        width: 100%;
        background-color: var(--bg-color);
        text-align: center;
        padding: 20px 0px 50px 0px;
        max-height: 0;
        opacity: 0;
        overflow: hidden;
        transition: max-height 0.5s ease, opacity 0.5s ease;
        visibility: hidden;
    }

    .nav-links.active {
        max-height: 1000px; 
        opacity: 1;
        visibility: visible;
    }

    .btn {
        padding: 9px 20px;
    }

    nav .dm.d-flex,
    .dm .btn-b.reg {
        display: none;
    }
    
    .btn-b.show {
        display: block;
    }

    .hamburger {
        display: flex;
    }

    .why .box-img {
        width: 100%;
        height: 300px;
        margin-left: 0px;
    }
    
    body.dark-mode .why .box-img {
        width: 100%;
        height: 300px;
        margin-left: 0px;
    }

    .event .box-img {
        width: 100%;
        height: 300px;
        margin-left: 0px;
        margin-top: 0px;
    }
    
    body.dark-mode .event .box-img {
        width: 100%;
        height: 300px;
        margin-left: 0px;
    }

    .faq-container {
        min-height: 200px;
    }

    .path .box-img {
        width: 100%;
        height: 320px;
        margin-left: 0px;
        margin-top: 0px;
    }
    
    body.dark-mode .path .box-img {
        width: 100%;
        height: 320px;
        margin-left: 0px;
        margin-top: 0px;
    }
    section.partner {
        padding: 0px;
    }

    #btn.show {
        display: flex;
        justify-content: center;
    }
    #navbar {
        background-color: var(--bg-color);
        color: var(--primary-color);
        padding: 10px 0px;
    }
    #navbar.scroll {
        background-color: var(--bg-color);
        color: var(--primary-color);
    }
    nav.scroll a {
        color: var(--primary-color);
    }
    nav.scroll .hamburger .bar {
        background-color: var(--primary-color);
    }

    .btn-rounded{
        padding: 14px;
    }

    section.event .row.start .col-7,
    section.why .row.start .col-7 {
        order: 2;
    }
    section.event .row.start .col-5,
    section.why .row.start .col-5 {
        order: 1;
    }
    .box {
        background: none; 
    }
    
    body.dark-mode .box {
        background: none; 
    }
    section.banner h1.title-nc.section-title,
    section.banner h1.title.section-title {
        font-size: 26px;
        line-height: 40px;
    }
    section.banner {
        padding: 40px 14px;
    }
    footer .footer.d-flex.between {
        display: flex;
        flex-direction: column;
    }
    .f-box {
        width: 100%;
    }
    .d-sm-block {
        display: block;
    }
    .d-sm-none {
        display: none;
    }
    .mb-sm-none {
        margin-bottom: 0px !important;
    }
    .box-img-course {
        height: 100px;
    }
    .course-container {
        max-height: 525px;
    }
    .event-container {
        max-height: 525px;
    }
    .review-container {
        max-height: 310px;
    }

    .box-upload-image-custom {
        width: 85px;
        height: 85px;
    }
    .box-upload-image-custom .upload-icon {
        font-size: 15px;
    }
    
}
@media (width: 640px) { 
    .why .box-img {
        width: 100%;
        height: 460px;
        margin-left: 0px;
    }
    
    body.dark-mode .why .box-img {
        width: 100%;
        height: 460px;
        margin-left: 0px;
    }
    .path .box-img {
        width: 100%;
        height: 480px;
        margin-left: 0px;
        margin-top: 0px;
    }
    
    body.dark-mode .path .box-img {
        width: 100%;
        height: 480px;
        margin-left: 0px;
        margin-top: 0px;
    }

    .mx {
        padding: 0px;
    }   
    .course-container {
        max-height: 650px;
    }
    .event-container {
        max-height: 650px;
    }
    .review-container {
        max-height: 230px;
    }
    .d-sm-none {
        display: none;
    }
    .d-sm-block {
        display: block;
    }
    .event .box-img {
        width: 100%;
        height: 500px;
        margin-left: 0px;
        margin-top: 0px;
    }
    .sidebar {
        background-color: var(--bg-color);
        left: -250px;
        position: fixed;
        top: 0;
        width: 250px;
        height: 100%;
        transition: all 0.3s ease-in-out;
        z-index: 1;
        margin-top: 56px; 
        border: none;
        border-radius: 0px;
        padding: 70px 15px 15px 15px;
        overflow-y: auto;
        max-height: none;
    }
    .hamburger-sidebar {
        display: flex;
    }
}

@media (min-width: 688px) and (max-width: 899px) { 
    .container {
        padding: 0 40px;
    }
    .container.side {
        padding: 0px 40px;
    }

    .img-banner {
        max-width: 400px;
    }
    .text-clamp {
        -webkit-line-clamp: 1 !important; 
    }
    section.home {
        margin-top: 80px;
    }
    section.event .row.start .col-7,
    section.why .row.start .col-7 {
        order: 2;
    }
    section.event .row.start .col-5,
    section.why .row.start .col-5 {
        order: 1;
    }
    .why .box-img {
        width: 100%;
        height: 600px;
        margin-left: 0px;
    }
    
    body.dark-mode .why .box-img {
        width: 100%;
        height: 600px;
        margin-left: 0px;
    }

    .path .box-img {
        width: 100%;
        height: 600px;
        margin-left: 0px;
        margin-top: 0px;
    }
    
    body.dark-mode .path .box-img {
        width: 100%;
        height: 600px;
        margin-left: 0px;
        margin-top: 0px;
    }

    .event .box-img {
        width: 100%;
        height: 600px;
        margin-left: 0px;
        margin-top: 0px;
    }
    
    .faq-container {
        min-height: 200px;
    }

    .mx {
        padding: 0px;
    }    

    .course-container {
        max-height: 500px;
    }
    .event-container {
        max-height: 500px;
    }

    .d-md-none {
        display: none;
    }
    .d-md-block {
        display: block;
    }

    .col-md-12 { width: 100%; }
    .col-md-11 { width: 91.66666667%; }
    .col-md-10 { width: 83.33333333%; }
    .col-md-9 { width: 75%; }
    .col-md-8 { width: 66.66666667%; }
    .col-md-7 { width: 58.33333333%; }
    .col-md-6 { width: 50%; }
    .col-md-5 { width: 41.66666667%; }
    .col-md-4 { width: 33.33333333%; }
    .col-md-3 { width: 25%; }
    .col-md-2 { width: 16.66666667%; }
    .col-md-1 { width: 8.33333333%; }
    
    .sidebar {
        background-color: var(--bg-color);
        left: -250px;
        position: fixed;
        top: 0;
        width: 250px;
        height: 100%;
        transition: all 0.3s ease-in-out;
        z-index: 1;
        margin-top: 0px; 
        border: none;
        border-radius: 0px;
        padding: 133px 15px 15px 15px;
        overflow-y: auto;
        max-height: none;
    }

    .hamburger-sidebar {
        display: flex;
    }
    .nav-links {
        flex-direction: column;
        position: absolute;
        top: 90%;
        left: 0;
        width: 100%;
        background-color: var(--bg-color);
        text-align: center;
        padding: 20px 0px 50px 0px;
        max-height: 0;
        opacity: 0;
        overflow: hidden;
        transition: max-height 0.5s ease, opacity 0.5s ease;
        visibility: hidden;
    }
    .nav-links.active {
        max-height: 1000px; 
        opacity: 1;
        visibility: visible;
    }
    nav .dm.d-flex,
    .dm .btn-b.reg {
        display: none;
    }
    .hamburger {
        display: flex;
    }
    #btn.show {
        display: flex;
        justify-content: center;
    }
    #navbar {
        background-color: var(--bg-color);
        color: var(--primary-color);
        padding: 10px 0px;
    }
    #navbar.scroll {
        background-color: var(--bg-color);
        color: var(--primary-color);
    }
    nav.scroll a {
        color: var(--primary-color);
    }
    nav.scroll .hamburger .bar {
        background-color: var(--primary-color);
    }
}

@media (min-width: 899px) and (max-width: 1100px) { 
    .container {
        padding: 0 40px;
    }
    .container.side {
        padding: 0px 40px;
    }

    .img-banner {
        max-width: 400px;
    }

    .mx {
        padding: 0px;
    }    

    section.home {
        margin-top: 80px;
    }
    section.event .row.start .col-7,
    section.why .row.start .col-7 {
        order: 2;
    }
    section.event .row.start .col-5,
    section.why .row.start .col-5 {
        order: 1;
    }
    .why .box-img {
        width: 100%;
        height: 780px;
        margin-left: 0px;
    }
    
    body.dark-mode .why .box-img {
        width: 100%;
        height: 780px;
        margin-left: 0px;
    }

    .path .box-img {
        width: 100%;
        height: 780px;
        margin-left: 0px;
        margin-top: 0px;
    }
    
    body.dark-mode .path .box-img {
        width: 100%;
        height: 780px;
        margin-left: 0px;
        margin-top: 0px;
    }

    .event .box-img {
        width: 100%;
        height: 780px;
        margin-left: 0px;
        margin-top: 0px;
    }

    .faq-container {
        min-height: 200px;
    }
    .course-container {
        max-height: 550px;
    }
    .event-container {
        max-height: 630px;
    }

    .d-md-none {
        display: none;
    }
    .d-md-block {
        display: block;
    }

    .col-md-12 { width: 100%; }
    .col-md-11 { width: 91.66666667%; }
    .col-md-10 { width: 83.33333333%; }
    .col-md-9 { width: 75%; }
    .col-md-8 { width: 66.66666667%; }
    .col-md-7 { width: 58.33333333%; }
    .col-md-6 { width: 50%; }
    .col-md-5 { width: 41.66666667%; }
    .col-md-4 { width: 33.33333333%; }
    .col-md-3 { width: 25%; }
    .col-md-2 { width: 16.66666667%; }
    .col-md-1 { width: 8.33333333%; }
    
    .sidebar {
        background-color: var(--bg-color);
        left: -250px;
        position: fixed;
        top: 0;
        width: 250px;
        height: 100%;
        transition: all 0.3s ease-in-out;
        z-index: 1;
        margin-top: 0px; 
        border: none;
        border-radius: 0px;
        padding: 133px 15px 15px 15px;
        overflow-y: auto;
        max-height: none;
    }
    .hamburger-sidebar {
        display: flex;
    }
    .nav-links {
        flex-direction: column;
        position: absolute;
        top: 90%;
        left: 0;
        width: 100%;
        background-color: var(--bg-color);
        text-align: center;
        padding: 20px 0px 50px 0px;
        max-height: 0;
        opacity: 0;
        overflow: hidden;
        transition: max-height 0.5s ease, opacity 0.5s ease;
        visibility: hidden;
    }
    .nav-links.active {
        max-height: 1000px; 
        opacity: 1;
        visibility: visible;
    }
    nav .dm.d-flex,
    .dm .btn-b.reg {
        display: none;
    }
    .hamburger {
        display: flex;
    }
    #btn.show {
        display: flex;
        justify-content: center;
    }
    #navbar {
        background-color: var(--bg-color);
        color: var(--primary-color);
        padding: 10px 0px;
    }
    #navbar.scroll {
        background-color: var(--bg-color);
        color: var(--primary-color);
    }
    nav.scroll a {
        color: var(--primary-color);
    }
    nav.scroll .hamburger .bar {
        background-color: var(--primary-color);
    }
}


@media (min-width: 1400px) { 
    .container {
        padding: 0 80px;
    }
    .img-banner {
        max-width: 500px;
    }

    .why .box-img{
        height: 470px;
    }
    .event .box-img{
        height: 470px;
    }
}
