/* Global Variables */
:root {
    /* Colors */
    --primary-color: #D28F51;
    --white-color: #ffffff;
    --black-color: #111111;
    --text-color: #12101684;
    --text-white-color: #faf5eec3;
    --border-color-primary: rgba(241, 175, 99, 0.429) ;
    --border-color: rgba(241, 175, 99, 0.147);
    --scroll-bg-color: #D28F51;

    /* Font */
    --font-family: 'Urbanist', sans-serif;

    /* Font Sizes */
    --font-size-p-small: 14px;
    --font-size-p-medium: 15px;
    --font-size-p-large: 16.5px;
    --font-size-h1: 68px;
    --font-size-h2: 52px;
    --font-size-h2-custom: 49px;
    --font-size-h3: 24px;
    --font-size-h4: 20px;
    --font-size-h5: 18px;
    --font-size-h6: 16px;

    --border-radius-small: 6px;
    --border-radius-medium: 10px;
    --border-radius-large: 99px;

    --container-padding: 80px;
    --btn-padding: 11px 32px;
    --btn-padding-medium: 6px 28px;
    --btn-padding-small: 4px 22px;
}
/* Dark Mode */
.dark-mode {
    --primary-color: #d28f51d3;
    --white-color: #111111;
    --black-color: #fffffffa;
    --text-color: #faf5ee91;
    --text-white-color: #121016b1;
    --border-color-primary: rgba(241, 175, 99, 0.214) ;
    --border-color: #666666;
    --scroll-bg-color: #D28F51;
    background-color: var(--black-color);
    color: var(--text-white-color);
    --border-color: rgba(241, 175, 99, 0.229);
}

html {
    scroll-behavior: smooth;
}
/* Reset and Global Styles */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: var(--font-family);
    color: var(--accent-color);
    background-color: var(--white-color) !important;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block; 
}

/* Font Styles */
h1.title-hero {
    color: var(--black-color);
    font-size: var(--font-size-h1);
    font-weight: 700;
    margin-bottom: 1rem;
}

h1.title {
    color: var(--black-color);
    font-size: var(--font-size-h2);
    font-weight: 700;
    margin-bottom: 1rem;
}
h1.title.white {
    color: var(--white-color) !important;
}
h1.title-custom {
    color: var(--primary-color);
    font-size: var(--font-size-h2-custom);
    font-weight: 700;
    margin-bottom: 1rem;
    -webkit-text-stroke: .5px black;
}
h1.title.small.white {
    color: var(--white-color);
    font-size: var(--font-size-h6);
    font-weight: 600;
    margin-bottom: .5rem;
}
li{
    color: var(--text-color);
    font-size: var(--font-size-p-large);
    font-weight: 500;
}
li i.fa {
    text-align: center;
    width: 26px !important;
}
label,
a.text,
p.text {
    color: var(--text-color);
    font-size: var(--font-size-p-medium);
    font-weight: 400;
    margin-bottom: 1rem;
    line-height: 24px;
    text-align: justify;
}
a.text:hover {
    color: var(--primary-color);
}
p.indent {
    text-indent: 3rem;
}
.justify {
    text-align: justify;
}
p.center {
    text-align: center;
}
.c-primary {
    color: var(--primary-color) !important;
}
.b-primary {
    color: #d28f5193 !important;
}

p.text.white {
    font-size: var(--font-size-p-medium);
    color: var(--text-white-color);
    margin-bottom: .5rem;
}


body.dark-mode .highlight {
    -webkit-text-stroke: 0px var(--primary-color);
}
.highlight {
    color: var(--primary-color);
    -webkit-text-stroke: .5px black;
}
.highlight-arsanta {
    position: relative;
    z-index: 1;
    color: var(--primary-color);
    -webkit-text-stroke: .5px black;

}
.highlight-arsanta.white {
    color: var(--white-color);
}

.highlight-arsanta::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(241, 201, 99, 0.1); 
    z-index: -1;
    padding: 5px;
}
.highlight-arsanta.white::after {
    background-color: rgba(253, 246, 236, 0.1); 
}

.relative {
    position: relative;
}

.btn-absolute {
    position: absolute;
    top: 20;
    right: 20;
    z-index: 9;
}

/* Display Styles */
.d-flex {
    display: flex;
}

.flex-col {
    flex-direction: column !important;
}

.d-block {
    display: block;
}

.d-none {
    display: none;
}

.center {
    justify-content: center;
}
.row.items-top {
    align-items: start !important;
}
.text-center {
    text-align: center;
}
.align-center {
    align-items: center;
}
.start {
    align-items: start !important;
}
.end {
    align-items: end !important;
}

.gap {
    gap: 10px;
}

.gap-medium{
    gap: 1rem;
}

.gap-large{
    gap: 2rem;
}

.mt {
    margin-top: 1rem !important;
}

.mb {
    margin-bottom: 1rem !important;
}

.mb-1 {
    margin-bottom: 1.5rem !important;
}

.mb-4 {
    margin-bottom: 2rem !important;
}

.mb-2 {
    margin-bottom: .5rem !important;
}
.mb-3 {
    margin-bottom: .3rem !important;
}
.mb-0 {
    margin-bottom: 0px !important;
}

.w-full {
    width: 100%;
}

.between {
    justify-content: space-between;
}

.grid {
    display: grid;
    gap: 1rem;
}

.grid-2 {
    grid-template-columns: repeat(2, 1fr);
}
.grid-3 {
    grid-template-columns: repeat(3, 1fr);
}
.grid-4 {
    grid-template-columns: repeat(4, 1fr);
}

img.img-gallery {
    width: 100%;
    height: auto !important;
    border-radius: var(--border-radius-small);
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
    transition: filter 0.3s ease, transform 0.3s ease;
}
img.img-gallery:hover {
    transform: scale(1.1);
    /* filter: brightness(50%); */
}

/* Navbar Styles */
nav {
    width: 100%;
    position: fixed;
    top: -3;
    left: 0;
    z-index: 100;
    border-bottom: 1px solid #d28f512b;
}

#navbar {
    padding: 14px 0px;
    background-color: var(--white-color);
}

#navbar.scroll {
    background-color: var(--white-color);
}

nav .container {
    padding: 0px 80px !important;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .nav-links {
    display: flex;
    gap: 2rem;
}

.sidebar a,
.sidebar li,
nav a {
    color: var(--text-color);
    text-decoration: none;
    font-weight: 500;
}

.sidebar a:hover,
.sidebar li:hover,
.sidebar a.active,
nav a:hover,
nav a.active {
    color: var(--primary-color);
}

.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    /* min-width: 160px; */
    box-shadow: 0px 2px 10px var(--border-color);
    z-index: 99;
    /* top: 24px; */
    border: 1px solid var(--border-color);
    /* border-top: none; */
    transition: all 0.3s ease-in-out;
    padding-top: 10px;
}
.dropdown-content li {
    list-style: none;
}
.dropdown-content a {
    color: var(--text-color);
    padding: 11px;
    text-decoration: none;
    display: block;
}
.dropdown:hover .dropdown-content {
    display: block;
}

a.logo {
    color: var(--black-color);
    font-weight: 700;
    display: flex;
    gap: 4px;
    align-items: end;
}
a.logo.white {
    color: var(--white-color);
    font-weight: 700;
}
img.logo {
    width: 30px;
}

/* Styling hamburger */
.hamburger {
    display: none;
    flex-direction: column;
    gap: 5px;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 101;
}

.hamburger .bar {
    width: 25px;
    height: 3px;
    background-color: var(--primary-color);
    transition: all 0.3s ease-in-out;
}

/* Transform hamburger to X when active */
.hamburger.active .bar:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
}

.hamburger.active .bar:nth-child(2) {
    opacity: 0; 
}

.hamburger.active .bar:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -6.5px);
}

nav.scroll .hamburger .bar {
    background-color: var(--primary-color);
}
/* sidebar */
.sidebar-container {
    position: relative;
    height: 100%;
}

.sidebar {
    position: fixed;
    width: 22%;
    background-color: transparent;
    height: auto;
    max-height: 500px;
    overflow-y: auto;
    border: 1px solid var(--border-color-primary);
    border-radius: var(--border-radius-small);
    padding: 18px;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}
.sidebar.active {
    left: 0; 
}
/* Sidebar Overlay */
.sidebar-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none; 
    z-index: 1; 
}


/* Tag */
.tag {
    padding: var(--btn-padding-medium);
    border-radius: var(--border-radius-small);
    color: var(--primary-color);
    font-size: var(--font-size-p-small);
    font-weight: 500;
    cursor: pointer;
    border: 1px solid var(--border-color-primary);
    white-space: nowrap; 
    text-overflow: ellipsis;
}

.tag.tag-small {
    padding: var(--btn-padding-small);
    font-size: 12px;
}

#no-results.none {
    color: var(--primary-color);
    display: none;
}
#no-results {
    color: var(--primary-color);
    display: block;
}

/* Input styles */
select,
textarea,
input.form-input {
    padding: var(--btn-padding);
    border-radius: var(--border-radius-small);
    color: var(--text-color);
    border: 1px solid var(--border-color-primary);
    font-weight: 400;
    font-family: var(--font-family);
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
    background: transparent;
    resize: none;
    width: 100%;
}
input.form-input.comment {
    color: var(--text-color);
    padding: 6px;
    border: none;
    border-radius: 0px;
    border-bottom: 1px solid var(--border-color-primary);
}
.card:hover input.form-input.comment {
    color: var(--text-white-color) !important;
    border-bottom: 1px solid var(--text-white-color);
}
.card:hover input.form-input.comment::placeholder {
    color: var(--text-white-color) !important;
}
.card:hover .c-primary {
    color: var(--white-color) !important;
}
.card:hover .b-primary {
    color: var(--text-white-color) !important;
}
input.form-input.search {
    width: 80% !important;
}
textarea {
    height: 120px;
}
/* Focused input style */
select:focus,
textarea:focus,
input.form-input:focus {
    border-color: var(--primary-color);
    outline: none; /* Remove default focus outline */
}
/* Button styles */
button.btn {
    padding: var(--btn-padding);
    border-radius: var(--border-radius-small);
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: color 0.3s ease, border 0.3s ease, box-shadow 0.3s ease;
    white-space: nowrap; 
    text-overflow: ellipsis;
    z-index: 1;
}

/* Pseudo-element for hover animation (Sunrise effect) */
button.btn::after {
    content: "";
    position: absolute;
    bottom: -50%; /* Mulai di bawah tombol */
    left: 50%;
    width: 0%;
    height: 0%;
    background: var(--hover-color, var(--primary-color));
    transition: width 0.4s ease-in-out, height 0.4s ease-in-out;
    transform: translateX(-50%);
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
    border-bottom-left-radius: 0%;
    border-bottom-right-radius: 0%;
    z-index: -1;
}

/* Hover effect */
button.btn:hover::after {
    width: 200%;
    height: 150%;
    bottom: 0%;
}

/* Styles for btn-a */
.btn-a {
    background-color: var(--primary-color);
    color: var(--white-color);
    border: 1px solid var(--border-color-primary);
    --hover-color: var(--white-color); /* Warna sunrise */
}

/* Hover effect for btn-a */
.btn-a:hover {
    color: var(--primary-color);
}

/* Styles for btn-b */
.btn-b {
    background-color: var(--white-color);
    color: var(--primary-color);
    border: 1px solid var(--border-color-primary);
    --hover-color: var(--primary-color);
}
.btn-b.user {
    padding: 12px 13px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn-a.search,
.btn-b.toggle-dark-mode {
    padding: 11px 14px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Hover effect for btn-b */
.btn-b:hover {
    color: var(--white-color);
}

/* Styles for btn-c */
.btn-c {
    background-color: var(--primary-color);
    color: var(--white-color);
    border: 1px solid var(--border-color-primary);
    --hover-color: var(--white-color); /* Warna sunrise */
}

/* Hover effect for btn-c */
.btn-c:hover {
    color: var(--primary-color);
}

button.btn-w {
    width: 100%;
}

li#btn{
    display: none;
}

.aos {
    opacity: 0;
    transform: translateY(50px) scale(0.9); /* Geser ke bawah & kecilkan */
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.aos-show {
    opacity: 1;
    transform: translateY(0) scale(1);
}

/* upload image */
.box-upload-image-custom {
    overflow: hidden;
    width: 150px;
    height: 150px;
    border-radius: var(--border-radius-small);
    position: relative;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.upload-image-custom {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: var(--border-radius-small);
}
.upload-icon {
    position: absolute;
    color: var(--white-color);
    opacity: 0;
    transition: opacity 0.3s ease;
}

.box-upload-image-custom:hover .upload-icon {
    opacity: 100;
    padding: 11px;
    background-color: var(--border-color-primary);
    border-radius: 50%;
}

#image-upload {
    display: none;
}

/* Line with gradient edges */
.h-line {
    width: 100%;
    height: 1px; /* Ubah ke bilangan bulat */
    transform: scaleY(0.6); 
    border: none; /* Menghapus border */
    /* background: linear-gradient(to right, rgba(241, 201, 99, 0) 0%, rgba(241, 201, 99, 0.3) 50%, rgba(241, 201, 99, 0) 100%); */
    background: var(--border-color-primary);
    margin: 1.5rem 0;
}
.card:hover .h-line {
    background: var(--white-color);
    height: 1px; /* Ubah ke bilangan bulat */
    transform: scaleY(0.4); 
}
.v-line {
    height: 100%; 
    min-height: 450px; 
    width: 1px; 
    background: var(--border-color-primary); 
    display: block; 
    transform: scaleX(0.6); 
}

.h-line.white{
    background: var(--white-color);
}


/* Grid system */
.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.row.stretch{
    align-items: stretch !important;
}
.col-12 { width: 100%; }
.col-11 { width: 91.66666667%; }
.col-10 { width: 83.33333333%; }
.col-9 { width: 75%; }
.col-8 { width: 66.66666667%; }
.col-7 { width: 58.33333333%; }
.col-6 { width: 50%; }
.col-5 { width: 41.66666667%; }
.col-4 { width: 33.33333333%; }
.col-3 { width: 25%; }
.col-2 { width: 16.66666667%; }
.col-1 { width: 8.33333333%; }

/* Container Styles */
.container {
    padding: var(--container-padding);
}

.container-toples {
    padding: 0px 80px 80px 80px !important;
}
.container-footer {
    background-color: var(--white-color);
    border-radius: 0px 0px 40px 40px;
    padding: 50px;
}

/* Section Styles */
section {
    background-color: var(--white-color);
    overflow: hidden;
}
section.profiles {
    margin-top: 40px;
    overflow: hidden;
}
.section-text {
    font-size: var(--font-size-p-large);
    line-height: 1.6;
    color: var(--accent-color);
}
body.auth {
    overflow: hidden;
}
section.login {
    margin-bottom: 0px !important;
}
section.login .container{
    /* overflow: hidden; */
    padding: 20px 80px !important;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

section.hero-nd {
    padding: 50px 120px 0px 120px;
}
section.detail-blog {
    padding: 50px 120px 0px 120px;
}
section.detail-komunitas,
section.detail-acara {
    padding-top: 50px;
}

section.banner .container-b {
    background: linear-gradient(
        -40deg, 
        #d28f51f8 0%, 
        #D28F51f8 30%,  /* Warna 1 */
        #d28f51e7 30%, 
        #d28f51e7 60%, /* Warna 2 */
        #d28f51ea 60%, 
        #D28F51ea 100%   /* Warna 3 */
    );
    padding: 80px 120px;
    border-radius: var(--border-radius-medium);
}

footer {
    /* background-color: var(--black-color); */
    background-color: var(--primary-color);
}

footer .container {
    padding: 80px 80px 20px 80px;
}

/* Card Styles */
.card {
    background-color: var(--white-color);
    border: 1px solid var(--border-color-primary);
    border-radius: var(--border-radius-small);
    padding: 18px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}
.card.card-flex {
    flex-direction: row !important;
    gap: 1rem;
}
.card.card-no {
    border: none !important;
    padding: 0px;
}

.card:hover {
    background-color: var(--primary-color); 
}
.card:hover i.fa-heart.fa-solid,
.card:hover i.fa-regular.fa-heart {
    color: var(--white-color) !important;
}
.card:hover .card-title,
.card:hover .card-title-nd {
    color: var(--white-color); 
}
.card:hover .card-text {
    color: var(--text-white-color); 
}
.card:hover .icon {
    background-color: var(--white-color); 
}
.card-title-nd {
    display: inline-flex;
    align-items: center;
    transition: transform 0.3s ease, color 0.3s ease;
}

.card-title-nd i {
    margin-left: 5px;
    transition: transform 0.3s ease;
}

.card:hover .card-title-nd i {
    transform: translateX(8px); 
}

.card-title {
    position: relative;
    display: inline-block;
}

.card-title::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 0%;
    height: 1px; 
    transform: scaleY(0.6); 
    background-color: var(--text-white-color);
    transition: width 0.3s ease-in-out;
}

.card:hover .card-title::after {
    width: 100%;
}

.card-img-main {
    width: 100%;
    height: 280px;
    object-fit: cover;
    border-radius: var(--border-radius-small);
}

.card-img {
    width: 140px;
    height: 120px;
    object-fit: cover;
    border-radius: var(--border-radius-small);
}

.card-img-blog {
    width: 100%;
    height: 120px;
    object-fit: cover;
    border-radius: var(--border-radius-small);
    transition: transform 0.3s ease-in-out;
}

.card-img-event {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: var(--border-radius-small);
    transition: transform 0.3s ease-in-out;
}

.card:hover .card-img-blog {
    transform: scale(1.05);
}

.card-title-large {
    font-size: var(--font-size-h3);
    color: var(--black-color);
    font-weight: 600;
}
.card-title-medium {
    font-size: var(--font-size-h5);
    color: var(--black-color);
    font-weight: 600;
}
.card-title {
    font-size: var(--font-size-h6);
    color: var(--black-color);
    font-weight: 600;
}
.card-title-nd {
    font-size: var(--font-size-p-small);
    color: var(--primary-color);
    font-weight: 500;
}
.card-text {
    font-size: var(--font-size-p-small);
    color: var(--text-color);
}

.card-text.text-clip {
    display: -webkit-box;
    -webkit-line-clamp: 2; /* Limits to 2 lines */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Gaya dasar alert */
.alert {
    position: fixed;
    top: 20px;
    right: 20px;
    padding: var(--btn-padding);
    border-radius: var(--border-radius-small);
    font-size: var(--font-size-p-small);
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 10px;
    border: 1px solid;
    transition: opacity 0.5s ease-in-out;
    z-index: 9999;
}

/* Warna dan ikon untuk tiap jenis alert */
.alert.info {
    background-color: #d9edf7;
    color: #31708f;
    border-color: #31708f;
}

.alert.info::before {
    content: "ℹ️";
}

.alert.warning {
    background-color: #fcf8e3;
    color: #8a6d3b;
    border-color: #8a6d3b;
}

.alert.warning::before {
    content: "⚠️";
}

.alert.error {
    background-color: #f2dededb;
    color: #a94442;
    border-color: #a9444276;
}

.alert.error::before {
    content: "🚫";
}

.alert.success {
    background-color: #dff0d8;
    color: #3c763d;
    border-color: #3c763d76;
}

.alert.success::before {
    content: "✅";
}

/* Tombol close */
.alert .close-btn {
    background: none;
    border: none;
    font-size: var(--font-size-p-large);
    font-weight: 700;
    cursor: pointer;
    color: inherit;
}

.alert.hidden {
    opacity: 0;
    pointer-events: none;
}


ul.side-links i.fa,
ul.event-details i.fa {
    text-align: center;
    width: 18px;
}

/* Reply section - Smooth transition */
.reply {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

/* When reply is active */
.reply.show {
    max-height: 200px; /* Sesuaikan tinggi maksimal yang cukup */
    opacity: 1;
}

/* Change cursor on hover over reply text */
.reply-btn {
    cursor: pointer;
    transition: color 0.3s ease;
}


/* Gambar default, tampilkan untuk mode biasa */
#about-image-dark {
    display: none;
}

/* Tampilkan gambar untuk mode gelap */
body.dark-mode #about-image-light {
    display: none;
}

body.dark-mode #about-image-dark {
    display: block;
}

img.profile {
    width: 40px !important;
}

/* icon */
.icon {
    background-color: var(--white-color);
    border: 1px solid var(--border-color-primary);
    border-radius: var(--border-radius-small);
    padding: 8px;
    height: 38px;
    width: 38px;
    font-size: 18px;
    text-align: center;
    color: var(--primary-color);
}
.icon.white {
    background-color: var(--white-color);
    transition: background-color 0.3s ease, transform 0.3s ease;
    color: var(--black-color);
}

.icon.white:hover {
    background-color: var(--primary-color);
    transform: translateY(-5px);
    color: var(--black-color);
}

/* swiper */
.swiper-container, .swiper-container-category, .swiper-container-video, .swiper-container-2,.swiper-container-4, .swiper-container-no-auto {
    max-width: 100%;
    overflow: hidden;
    position: relative;
    padding-bottom: 2rem;   
}

/* Active pagination line style */
.swiper-pagination {
    background-color: var(--border-color) !important; 
    border-radius: 2px !important;
}
.swiper-pagination-bullet {
    height: 6px !important;
    width: 10px !important;
    border-radius: 2px !important;
    background-color: transparent !important; 
}
.swiper-pagination-bullet-active {
    background-color: var(--primary-color) !important; 
    opacity: 1;             
    width: 50px !important;
    border-radius: 2px !important;
}

.img-card-container,
.img-hero-container {
    position: relative;
    display: inline-block;
    overflow: hidden;
    border-radius: var(--border-radius-small);
    width: 100%;
}

.img-hero {
    display: block;
    width: 100%;
    object-fit: cover;
    clip-path: polygon(12% 0%, 100% 0%, 100% 80%, 85% 100%, 0% 100%, 0% 15%);
    transition: filter 0.3s ease, transform 0.3s ease;
    filter: brightness(90%);
}
.img-about {
    display: block;
    width: 100%;
    object-fit: cover;
    clip-path: polygon(0% 0%, 85% 0%, 100% 15%, 100% 100%, 12% 100%, 0% 80%);    transition: filter 0.3s ease, transform 0.3s ease;
    /* filter: brightness(90%); */
}
.img-hero-container:hover .img-about{
    transform: scale(1.05); 
}
.img-hero-container:hover .img-hero {
    filter: brightness(40%); 
    transform: scale(1.05); 
}
.img-caption {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    background: var(--primary-color);
    color: var(--white-color);
    padding: 10px 20px;
    border-radius: var(--border-radius-small);
    font-size: var(--font-size-p-medium);
    opacity: 0;
    font-weight: 500;
    transition: opacity 0.3s ease, bottom 0.3s ease;
    /* width: 60%;
    text-align: center; */
}
.img-hero-container:hover .img-caption {
    opacity: 1;
    bottom: 5%;
}
img.img-hero-sm {
    display: none;
}

img.img-artikel {
    height: 300px;
    border-radius: var(--border-radius-small);
}

.video-thumbnail {
    width: 100%;
    border-radius: 8px;
    transition: filter 0.3s ease, transform 0.3s ease;
}

.play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: var(--border-color);
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    color: var(--white-color);
}

.video-container {
    position: relative;
    display: inline-block;
    overflow: hidden;
    border-radius: var(--border-radius-small);
}

.video-thumbnail {
    display: block;
    width: 100%;
    object-fit: cover;
    transition: filter 0.3s ease, transform 0.3s ease;
    filter: brightness(90%);
}

.video-container:hover .video-thumbnail {
    filter: brightness(40%); 
    transform: scale(1.05); 
}
.video-container:hover .img-caption {
    opacity: 1;
    bottom: 5%;
}

.video-container:hover .video-thumbnail {
    filter: brightness(40%);
    transform: scale(1.05);
}

.video-container:hover .play-button {
    opacity: 1;
}

iframe {
    width: 530px;
    height: 305px;
}

.img-category-container {
    position: relative;
    display: inline-block;
    overflow: hidden;
    border-radius: var(--border-radius-small);
}
.img-category {
    display: block;
    width: 100%;
    object-fit: cover;
    transition: filter 0.3s ease, transform 0.3s ease;
    filter: brightness(90%);
}

.img-category-container:hover .img-category {
    filter: brightness(40%); 
    transform: scale(1.05); 
}
.img-category-container:hover .img-caption {
    opacity: 1;
    bottom: 5%;
}


/* Resposive */
@media (max-width: 330px) {
    :root {
        --font-size-p-small: 11px;
        --font-size-p-medium: 13px;
        --font-size-p-large: 15px;
        --font-size-h1: 52px;
        --font-size-h2: 40px;
        --font-size-h3: 24px;
        --font-size-h4: 20px;
        --font-size-h5: 18px;
        --font-size-h6: 16px;

        --btn-padding: 9px 20px;
        --btn-padding-medium: 6px 28px;
        --btn-padding-small: 4px 12px;
    } 
}
@media (max-width: 688px) { 
    section {
        margin-bottom: 80px;
    }
    section.hero {
        margin-top: 100px;
    }
    .container-footer {
        border-radius: 0px 0px 20px 20px;
        margin-bottom: 1rem;
        padding: 1rem;
    }
    .container {
        padding: 1rem !important;
    }
    section.login .container{
        padding: 1rem !important;
    }
    section.hero-nd {
        padding: 140px 1rem 0px 1rem;
    }
    section.detail-blog {
        padding: 100px 0px 0px 0px;
    }    
    section.detail-komunitas,
    section.detail-acara {
        padding-top: 100px;
    }
    section.banner .container-b {
        padding: 120px 1rem;
    }
    section.profiles {
        margin-top: 100px;
    }
    input.form-input.search {
        width: 100% !important;
    }
    .row {
        flex-direction: column;
    }
    .row-sm {
        flex-direction: column-reverse;
    }
    .card.card-sm-block {
        flex-direction: column !important;
    }
    .gap-sm-n{
        gap: 0px !important;
    }

    .gap-sm-small{
        gap: .5rem !important;
    }
    
    .btn-b.show {
        display: block;
    }

    .d-sm-flex {
        display: flex !important;
    }
    .d-sm-block {
        display: block !important;
    }

    .d-sm-none {
        display: none !important;
    }

    .mb-sm-3 {
        margin-bottom: 2rem !important;
    }
    .mb-sm-2 {
        margin-bottom: 1rem !important;
    }

    .mb-sm {
        margin-bottom: .5rem !important;
    }

    .sm-flip {
        flex-direction: column-reverse;
    }

    h1.title-hero {
        font-size: calc(var(--font-size-h1) * .6); /* Skala sekitar 90% */
    }

    h1.title.white {
        font-size: calc(var(--font-size-h2) * 0.7); /* Skala sekitar 80% */
    }
    h1.title {
        font-size: calc(var(--font-size-h2) * 0.8); /* Skala sekitar 80% */
    }

    p.text {
        font-size: calc(var(--font-size-p-medium) * 1.1); /* Skala sekitar 90% */
        line-height: 1.4; /* Menyesuaikan jarak baris pada ukuran mobile */
    }

    .card-text {
        font-size: var(--font-size-p-medium) !important; /* Skala sekitar 90% */
    }
    .text-sm-center {
        text-align: center;
    }
    .grid {
        display: grid;
        gap: .5rem;
    }

    .grid-sm-1 {
        grid-template-columns: repeat(1, 1fr);
    }

    .grid-sm-2 {
        grid-template-columns: repeat(2, 1fr);
    }
    .grid-sm-3 {
        grid-template-columns: repeat(3, 1fr);
    }
    .grid-sm-4 {
        grid-template-columns: repeat(4, 1fr);
    }    
    
    .btn-b.show {
        display: block;
    }
    
    nav .container {
        padding: 10px 1rem !important;
    }
    
    .nav-links {
        flex-direction: column;
        position: absolute;
        top: 90%;
        left: 0;
        width: 100%;
        background-color: var(--white-color);
        text-align: center;
        padding: 20px 0px 50px 0px;
        max-height: 0;
        opacity: 0;
        overflow: hidden;
        transition: max-height 0.5s ease, opacity 0.5s ease;
        visibility: hidden;
    }
    .nav-links.active {
        max-height: 1000px; 
        opacity: 1;
        visibility: visible;
    }

    nav .dm.d-flex,
    .dm .btn-b.reg {
        display: none;
    }
    .sidebar {
        background-color: var(--white-color);
        left: -250px;
        position: fixed;
        border-right: 1px solid var(--border-color);
        top: 0;
        width: 250px;
        height: 100%;
        transition: all 0.3s ease-in-out;
        z-index: 2;
        margin-top: 56px; 
        border-radius: 0px;
        padding: 110px 15px 15px 20px;
        overflow-y: auto;
        max-height: none;
    }
    .hamburger {
        display: flex;
        position: relative;
        z-index: 999;
    }

    .col-sm-12 { width: 100%; }
    .col-sm-11 { width: 91.66666667%; }
    .col-sm-10 { width: 83.33333333%; }
    .col-sm-9 { width: 75%; }
    .col-sm-8 { width: 66.66666667%; }
    .col-sm-7 { width: 58.33333333%; }
    .col-sm-6 { width: 50%; }
    .col-sm-5 { width: 41.66666667%; }
    .col-sm-4 { width: 33.33333333%; }
    .col-sm-3 { width: 25%; }
    .col-sm-2 { width: 16.66666667%; }
    .col-sm-1 { width: 8.33333333%; }

    img.img-hero-sm {
        aspect-ratio: 100 / 50;
        margin-bottom: 2rem;
        clip-path: polygon(8% 0%, 100% 0%, 100% 80%, 90% 100%, 0% 100%, 0% 15%);
        object-fit: cover;
        width: 100%;
        display: block;
    }
    img.img-about,
    img.img-hero {
        aspect-ratio: 100 / 50;
        margin-bottom: 1.5rem;
    }
    li#btn {
        display: flex !important;
        justify-content: center;
    }
    iframe {
        max-width: 100%;
        height: 182px;
    }
    
}
@media (min-width: 689px) and (max-width: 1200px) {
    .container-footer {
        border-radius: 0px 0px 20px 20px;
        margin-bottom: 1rem;
        padding: 10px;
    }
    .container {
        padding: 4rem 1rem !important;
    }
    section.login .container{
        padding: 1rem !important;
        justify-content: start;
    }
    section.login .container .row{
        flex-direction: column;
    }
    section {
        margin-bottom: 80px;
    }
    section.hero {
        margin-top: 60px;
    }
    h1.title-custom {
        color: var(--black-color);
        font-size: calc(var(--font-size-h2) * .7); /* Skala sekitar 70% */
        font-weight: 600;
        margin-bottom: 1rem;
    }
    h1.title-hero {
        font-size: calc(var(--font-size-h1) * .7); /* Skala sekitar 70% */
    }

    h1.title {
        font-size: calc(var(--font-size-h2) * 0.7); /* Skala sekitar 70% */
    }

    .card-title-large {
        font-size: calc(var(--font-size-h3) * .9); /* Skala sekitar 70% */
    }

    p.text {
        font-size: calc(var(--font-size-p-medium) * 1.1); /* Skala sekitar 90% */
        line-height: 1.4; /* Menyesuaikan jarak baris pada ukuran mobile */
    }
    .card-text {
        font-size: var(--font-size-p-medium) !important; /* Skala sekitar 90% */
    }
    .card-img-main {
        height: 270px;
    }
    
    nav .container {
        padding: 10px 1rem !important;
    }
    
    .nav-links {
        flex-direction: column;
        position: absolute;
        top: 90%;
        left: 0;
        width: 100%;
        background-color: var(--white-color);
        text-align: center;
        padding: 20px 0px 50px 0px;
        max-height: 0;
        opacity: 0;
        overflow: hidden;
        transition: max-height 0.5s ease, opacity 0.5s ease;
        visibility: hidden;
    }
    .nav-links.active {
        max-height: 1000px; 
        opacity: 1;
        visibility: visible;
    }

    nav .dm.d-flex,
    .dm .btn-b.reg {
        display: none;
    }
    
    .btn-b.show {
        display: block;
    }
    li#btn {
        display: flex !important;
        justify-content: center;
    }

    .hamburger {
        display: flex;
    }

    .row-md {
        flex-direction: column-reverse;
    }
    .d-md-flex {
        display: flex !important;
    }
    .d-md-block {
        display: block !important;
    }

    .d-md-none {
        display: none !important;
    }

    .mb-md-2 {
        margin-bottom: 1rem !important;
    }

    .mb-md {
        margin-bottom: .5rem !important;
    }

    .gap-md {
        gap: 10px !important;
    }
    .gap-md-small{
        gap: .5rem !important;
    }
    .grid {
        display: grid;
        gap: .5rem;
    }

    .grid-md-2 {
        grid-template-columns: repeat(2, 1fr);
    }
    .grid-md-3 {
        grid-template-columns: repeat(3, 1fr);
    } 
    .grid-md-4 {
        grid-template-columns: repeat(4, 1fr);
    } 

    
    .col-md-12 { width: 100%; }
    .col-md-11 { width: 91.66666667%; }
    .col-md-10 { width: 83.33333333%; }
    .col-md-9 { width: 75%; }
    .col-md-8 { width: 66.66666667%; }
    .col-md-7 { width: 58.33333333%; }
    .col-md-6 { width: 50%; }
    .col-md-5 { width: 41.66666667%; }
    .col-md-4 { width: 33.33333333%; }
    .col-md-3 { width: 25%; }
    .col-md-2 { width: 16.66666667%; }
    .col-md-1 { width: 8.33333333%; }
    
    .card-img-blog {
        height: 160px;
    }
}

@media (min-width: 689px) and (max-width: 800px) {
    h1.title-hero {
        font-size: calc(var(--font-size-h1) * .6); /* Skala sekitar 60% */
    }

    h1.title {
        font-size: calc(var(--font-size-h2) * 0.6); /* Skala sekitar 60% */
    }

    p.text {
        font-size: calc(var(--font-size-p-medium) * 1.1); /* Skala sekitar 90% */
        line-height: 1.4; /* Menyesuaikan jarak baris pada ukuran mobile */
    }
}